.header {
  height: 75px;
  width: 100%;
  background-color: #c4c4c4;
  border-bottom: 1px solid #838383;
}

.header-cont {
  display: inline;
}

.logo {
  height: 50px;
}

.navigation {
}

.tings {
}
